/*
Copyright 2019 Tom Peters

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

/* Generic Forms */

form {
    border:           1px solid var(--border-color);
    background-color: var(--light-gray);
    padding:          var(--spacing);
    border-radius:    12px;
}

form.standalone {
    background-color: transparent;
    border:           none;
    padding:          0;
}

fieldset {
    border: none;
}

fieldset > p {
    margin: var(--spacing) 0 0;
}

p.note {
    font-size: 0.8em;
    color:     var(--dark-gray);
}

legend {
    display:        block;
    font-size:      1.1em;
    font-weight:    600;
    border-bottom:  1px solid var(--border-color);
    margin-bottom:  var(--spacing);
    width:          100%;
    padding-bottom: var(--minimal-spacing);
    font-family:    'Anton', sans-serif;
    font-weight:    400;
}

label {
    display:       block;
    margin-bottom: 6px;
    font-weight:   500;
    color:         #374151;
    font-size:     0.9em;
}

label.required::after {
    content:     ' - Required';
    color:       var(--red);
    font-style:  italic;
    font-size:   0.8em;
    font-weight: normal;
}

label.optional::after {
    content:     ' - Optional';
    color:       var(--gray);
    font-style:  italic;
    font-size:   0.8em;
    font-weight: normal;
}

input[type="radio"],
input[type="checkbox"] {
    width:      auto;
    min-height: auto;
}

input[type="radio"] + label {
    display:     inline-block;
    margin-left: 5px;
    font-weight: normal;
}

input,
select,
textarea {
    border-radius:    8px;
    border:           1.5px solid var(--border-color);
    font:             1em var(--font), sans-serif;
    padding:          10px 12px;
    width:            100%;
    min-height:       44px;
    transition:       border-color var(--transition-fast), box-shadow var(--transition-fast);
    background-color: #fff;
    color:            #1a1d23;
}

input:disabled,
select:disabled,
textarea:disabled {
    background-color: #f4f5f7;
    border-color:     #e8eaed;
    color:            #9ca3af;
    cursor:           not-allowed;
}

input:disabled:hover,
select:disabled:hover,
textarea:disabled:hover {
    border-color: #e8eaed;
}

input:hover:not(:disabled),
select:hover:not(:disabled),
textarea:hover:not(:disabled) {
    border-color: var(--gray);
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--primary);
    box-shadow:   0 0 0 3px rgba(46, 139, 62, 0.12);
    outline:      none;
}

input[type="password"] + input[type="password"] {
    margin-top: var(--minimal-spacing);
}

textarea {
    min-height: 100px;
    resize:     vertical;
}

div.field::after {
    content: '';
    display: block;
    clear:   both;
}

input::placeholder {
    color:      var(--gray);
    font-style: normal;
}

div.field {
    margin-bottom: var(--spacing);
    position:      relative;
}

fieldset.collapsed div.fields {
    display: none;
}

fieldset.collapsed legend a {
    font-size: 0.8em;
}

p.requirement {
    font-style:    italic;
    font-size:     0.6em;
    color:         var(--gray);
    margin-bottom: var(--minimal-spacing);
}

form div.errors {
    background-color: var(--red);
    padding:          var(--spacing);
    margin-bottom:    var(--spacing);
    border-radius:    8px;
}

form div.errors ul {
    font-weight:   bold;
    margin-left:   0;
    margin-bottom: 0;
    list-style:    none;
}

form div.errors ul ul {
    font-weight:     normal;
    margin-left:     calc(2 * var(--spacing));
    list-style-type: disc;
}

div.input-error {
    background-color: #1a1d23;
    padding:          8px 12px;
    position:         absolute;
    border-radius:    6px;
    color:            #fff;
    font-size:        0.8em;
    box-shadow:       0 4px 12px rgba(0, 0, 0, 0.15);
    transform:        translateX(calc(-1 * var(--minimal-spacing)));
}

div.input-error::before {
    --size:           6px;
    background-color: transparent;
    display:          block;
    content:          '';
    width:            0;
    height:           0;
    border-left:      var(--size) solid transparent;
    border-right:     var(--size) solid transparent;
    border-bottom:    var(--size) solid #1a1d23;
    position:         absolute;
    top:              calc(-1 * var(--size));
    left:             calc(var(--minimal-spacing) + 2px);
}

input[type="color"] {
    --size:           30px;
    background-color: #fff;
    width:            calc(1.618 * var(--size));
    height:           var(--size);
}

/* chrome doesn't like this combined with -moz */
input[type="color"]::-webkit-color-swatch {
    border:        none;
    border-radius: 4px;
}

input[type="color"]::-moz-color-swatch {
    border:        none;
    border-radius: 4px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="password"]:invalid {
    box-shadow: none;
}

p.message {
    color:       #2196f3;
    font-weight: bold;
    margin:      0 0 var(--spacing);
}

div.datetime {
    display:               grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:              var(--minimal-spacing);
}

input[type="date"], input[type="time"] {
    display: inline-block;
    width:   auto;
}

div.remaining {
    color:       var(--red);
    font-size:   0.8em;
    font-weight: bold;
}

/* buttons */

div.buttons {
    text-align: right;
}

div.buttons button {
    margin-left: var(--minimal-spacing);
}

div.buttons button:first-child {
    margin-left: 0;
}
