$border-color:     #ccc;
$dark-gray:        #888;
$gray:             #bbb;
$light-gray:       #eee;
$minimal-spacing:  4px;
$primary:          #4caf50;
$red:              #f44336;
$standard-spacing: 20px;
$text-color:       #272727;
$yellow:           #fdd835;
